<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Green Rescue Team</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.asphaltian.pmdgreen</string>
	<key>CFBundleExecutable</key>
	<string>pmd_green</string>
	<key>CFBundleIconFile</key>
	<string>pmd_green</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>GCSupportsGameMode</key>
	<true/>
</dict>
</plist>
